body {
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  background-color: #1d3461;
  background-color: #068d9d;
  background-color: #06818f;
}

.custom-popup .leaflet-popup-content-wrapper,
.custom-popup .leaflet-popup-tip {
  background: #f49f0a;
  background-image: url("https://kittykatcher.s3.amazonaws.com/animal-prints.svg"), url("https://kittykatcher.s3.amazonaws.com/animal-prints.svg");
  background-repeat: no-repeat;
  background-position: left top, bottom right;
  background-size: 175px 175px, 75px 75px;
  background-attachment: local;
}

/*
other text color I like
  color: #1d354f;

other popup colors I like
    background: #044389;
    background: #437c90;
}
*/

.custom-popup .leaflet-popup-content-wrapper {
  max-width: 400px;
  max-height: 350px;
  min-width: 300px;
  overflow: auto;
}

.my-grid {
  display: grid;
  grid-template-rows: repeat(10, auto);
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;
  grid-template-areas:
    "status ."
    "title title"
    "pic pic"
    "info more-info"
    "info more-info"
    "info more-info"
    "separator separator"
    "post-by claim-by"
    "post-date claim-date"
    "prev-stat prev-stat";
}

.status-area {
  grid-area: status;
  font-weight: bolder;
}

.post-title {
  text-align: center;
  font-size: 1.5vw;
  grid-area: title;
}

.picture-area {
  grid-area: pic;
}

.picture-area > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  min-width: 100%;
  width: 200px;
  height: 100px;
}

.info-area {
  grid-area: info;
  font-size: 1.1vw;
}

.more-info-area {
  grid-area: more-info;
  font-size: 1.1vw;
}

.separates {
  grid-area: separator;
}

.posted-by {
  grid-area: post-by;
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 8px;
  grid-template-areas:
  "prof-pic prof-name";
}

.posted-by > img {
  border-radius: 50%;
  box-shadow: 0 0 0 4px white;
  margin-top: 8px;
  object-fit: cover;
  max-width: 3vw;
  max-height: 3vh;
}

.post-pic {
  grid-area: prof-pic;
}

.poster-name {
  grid-area: prof-name;
  align-self: center;
}

.claimed-by {
  grid-area: claim-by;
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 8px;
  grid-template-areas:
  "picture name";
}

.claimed-by > img {
  border-radius: 50%;
  box-shadow: 0 0 0 4px black;
  margin-top: 8px;
  object-fit: cover;
  max-width: 3vw;
  max-height: 3vh;
}

.claim-pic {
  grid-area: picture;
}

.claimer-name {
  grid-area: name;
  align-self: center;
}

.posted-date {
  grid-area: post-date;
  font-style: italic;
}

.claimed-date {
  grid-area: claim-date;
}

.prev-status {
  grid-area: prev-stat;
  font-style: italic;
}

.headline-font {
  font-family: 'Fredoka One', cursive;
}

.sub-heading-font {
  font-family: 'Baloo Thambi', cursive;
}

.text-font {
  font-family: 'Prompt', sans-serif;
}

.white-color {
  color: white;
}


.custom-message .leaflet-popup-content-wrapper,
.custom-message .leaflet-popup-tip {
  background: #ff4081;
}

.custom-message .leaflet-popup-content-wrapper {
  max-width: 400px;
  font-family: 'Baloo Thambi', cursive;
  text-align: center;
  font-size: 1.1vw;
}

.cant-post-popup .leaflet-popup-content-wrapper,
.cant-post-popup .leaflet-popup-tip {
  max-width: 200px;
  font-family: 'Baloo Thambi', cursive;
  text-align: center;
  font-size: 1.5vw;
  background: #f49f0a;
}

.special-radio [type=radio] + img {
  cursor: pointer;
}

.special-radio [type=radio]:checked + img {
  outline: 5px solid #f49f0a;
}

.special-radio img {
  max-width: 7vw;
  max-height: 7vh;
}

.add-spacing {
  margin: 30px 0;
}

.dashboard-avatar {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.dashboard-avatar img {
  width: auto;
  height: 100%;
  border-radius: 50%;
}

.icon-size {
  font-size: 230%;
}

.bio-size {
  height: 160px;
}

.bio-text textarea{
  /*outline: none;*/
  resize: none;
  font-size: 110%;
}

.dashboard-card {
  background-image: url("https://kittykatcher.s3.amazonaws.com/animal-prints.svg"), url("https://kittykatcher.s3.amazonaws.com/animal-prints.svg");
  background-repeat: no-repeat;
  background-position: left top, bottom right;
  background-size: 175px 175px, 75px 75px;
  background-attachment: local;
}

.top-right-corner {
  margin-bottom: 15px;
}

.bottom-half {
  margin-top: 10px;
  margin-bottom: 10px;
}

.indent {
  margin-left: 20px;
}

.details li:nth-child(odd) {
  list-style: none;
  background-image: url('https://kittykatcher.s3.amazonaws.com/animal-prints.svg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
  padding: 10px 0px 5px 30px;
}

.details li:nth-child(even) {
  list-style: none;
  background-image: url('https://kittykatcher.s3.amazonaws.com/animal-prints.svg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
  padding: 8px 0px 5px 20px;
}

.slider-area {
  display: flex;
  align-items: center
}

.slider-area img {
  max-height: 150px;
  max-width: 300px;
  border-radius: 5%;
}

.default-pic-area img {
  height: 13.5vh;
  max-width: 6vw;
}

.vertical-center {
  margin: 0;
}

.my-modal {
  display: block;

  /* Probably need media queries here */
  width: 950px;
  max-width: 100%;

  height: 600px;
  max-height: 100%;

  position: fixed;

  z-index: 100;

  left: 50%;
  top: 50%;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);

  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */

  background: #06818f;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  padding: 10px 10px 10px 10px;
  border-radius: 1%;
}

.dim-background {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background:rgba(0,0,0,0.5);
}

.my-modal-grid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 1fr 1fr 7fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-template-areas:
    ". . . . close-btn"
    ". photo photo photo ."
    ". photo photo photo ."
    "left-arrow photo photo photo right-arrow"
    ". photo photo photo ."
    ". photo photo photo .";
}

.close-btn-area {
  grid-area: close-btn;
  max-height: 100%;
  max-width: 100%;
  justify-self: end;
}

.photo-area {
  grid-area: photo;
  height: 450px;
  max-height: 100%;
  justify-self: stretch;
  max-width: 100%;
}

.left-arrow-area {
  height: 35px;
  max-height: 100%;
  width: 45px;
  max-width: 100%;
  grid-area: left-arrow;
}

.right-arrow-area {
  height: 35px;
  max-height: 100%;
  width: 45px;
  max-width: 100%;
  justify-self: end;
  grid-area: right-arrow;
}

.slide-dots {
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
  background: black;
}

.slide-dots-active {
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
  background: white;
}

.dots-grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
